<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Twitter Clone{% endblock %}</title>
</head>

<body>
  <header class="mb-3">
    <nav>
      {% if user.is_authenticated %}
      <form action="{% url 'tweets:home'%}" method="get">
        <button type="submit">Twitter Clone</button>
      </form>
      <form action="{% url 'accounts:user_profile' username=user.username %}" method="get">
        <button type="submit">Profile</button>
      </form>
      <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
      </form>
      {% else %}
      <form action="{% url 'welcome:welcome' %}" method="get">
        <button type="submit">Twitter Clone</button>
      </form>
      <form action="{% url 'accounts:signup' %}" method="get">
        <button type="submit">Sing Up</button>
      </form>
      <form action="{% url 'accounts:login' %}" method="get">
        <button type="submit">Log In</button>
      </form>
      {% endif %}
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>
